* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    border: 0;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    margin-bottom: 5px;
    margin-right: 5px;
}
.btn-secondary{
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    width: 160px;
    border-color:#FD6E0A;
    /* padding: 18px 35px; */
    color: #FD6E0A;
    border-width: 5px;
    
}


.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

/* header and navigation styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;

}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.sub-banner-title {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;

}

/* about section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    text-align: center;
    padding: 130px 150px;
    background: #FFF8F3;
    border-radius: 10px;
}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    text-align: center;
    margin: 30px 0;
}

/* about info */
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* what is do styles */

.what-i-do {
    margin-top: 130px;
}

.what-i-do-description {
    text-align: center;
    margin: 50px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
}

/* resume */


.resume-section-title {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 110px;
    font-size: 35px;
    font-weight: 700;
}

.resume-content {
    display: flex;
    gap: 24px;
}

.resume-item {
    padding-right: 50px;
}

.resume-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.resume .title {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

}

.resume .description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.resume hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* contact styles */
.contact .section-title {
    text-align: left;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    /* width: 1600px;
    height: 780px; */
    margin-top: 130px;
    padding: 130px 230px;
    background: #FFF8F3;
    gap:115px;
    
}

.logo {
    width: 24px;
    height: 24px;
    margin-top: 30px;
    margin-right: 24px;
}
.contact input, textarea{
    margin-bottom:24px;
    border: none;
    width:100%;
    padding: 18px 30px;

}